@{
  Layout = "_Layout";
}

<div class='container'>
    <h1>Add a Stylist</h1>
    <form action='/stylists' method='POST'>
        <div class='form-group'>
            <label for='name'>Name</label>
            <input type='text' name='name' class='form-control'>
        </div>
        <button type='submit' class='btn btn-info'>Create Stylist</button>
    </form>
</div>