.navbar {
  margin-bottom: 40px;
}

a {
  color: #343a40;
  transition: 1s;
}

a:hover {
  color: #20c2dc;
  transition: 1s;
}

.navbar a {
  transition: 0.5s;
}
.navbar a:hover {
  transition: 0.5s;
}

.btn {
  transition: 0.5s;
}

.btn:hover {
  transition: 0.5s;
}

.center {
  text-align: center;
}

.top-button-box {
  margin: 30px auto;
  text-align: center;
}

.card, .card-box-shadow {
  width: 80%;
  margin: 40px auto;
  max-width: 600px;
  transition: 0.5s;
}

.card-box-shadow:hover {
  box-shadow: 2px 2px 10px #4444446e;
  transition: 0.5s;
}

.card a {
  text-decoration: none;
  transition: 0.5s;
}

.card a:hover {
  text-decoration: none;
  transition: 0.5s;
}

.card-button-box {
  margin: 50px auto 0px auto;
}

.stylist-image {
  width: 50%;
  max-width: 200px;
  margin: 20px auto;
  display: block;
}

#delete-form {
  display: inline-block;
}