@using HairSalon.Models
@model Client

@{
  Layout = "_Layout";
}

<div class='container'>
    <h1>Add a Client</h1>
    <form action='/clients' method='POST'>
        <div class='form-group'>
            <label asp-for='Name'>Name</label>
            <input type='text' asp-for='Name' class='form-control' required>
            <span asp-validation-for='Name' class="text-danger"></span>
        </div>
        <div class='form-group'>
            <label asp-for='Phone'>Phone</label>
            <input type='text' asp-for='Phone' class='form-control' required>
            <span asp-validation-for='Phone' class="text-danger"></span>
        </div>
        <div class='form-group'>
            <label asp-for='Email'>Email</label>
            <input type='email' asp-for='Email' class='form-control' required>
            <span asp-validation-for='Email' class="text-danger"></span>
        </div>
        <div class='form-group'>
            <label asp-for='StylistId'>Stylist</label>
            <select asp-for='StylistId' class='form-control' required>
            @foreach (var stylist in Stylist.GetAll())
            {
                <option value='@stylist.Id'>@stylist.Name</option>
            }
            </select>
            <span asp-validation-for='StylistId' class="text-danger"></span>
        </div>
        <button type='submit' class='btn btn-info'>Create Client</button>
    </form>
</div>